
<div class="container-fluid">

  <app-nav></app-nav>
        <section   class="hero-area bg-img bg-overlay-2by5" class="body-image">
           
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                           
                            <div class="hero-area text-center">
                               <!-- Hero Content -->
                            <img src="assets/oe.jpg" width="400px" class="user-avatar" />
                            <h1>Online Exam Center</h1>
                                <h2 style="font-size:30px;">Let's Study Together</h2>
                                <a href="#" class="btn btn-primary">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
          
        
        
        
            <div class="row pt-3 texture-image">
                               
                  
                    <div class="card col-12 col-md-4 col-sm-4" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/english1.jfif" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Biology</h5>
                              <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                       
                          <div class="card col-12 col-md-4 col-sm-4" style="width: 18rem;">
                                <img class="card-img-top" src="../../assets/pe.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Physical Education</h5>
                                  <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                             
                              <div class="card col-12 col-md-4 col-sm-4" style="width: 18rem;">
                                    <img class="card-img-top" src="../../assets/math.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Mathematics</h5>
                                      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                                 
                
            </div>
        
        
      
</div>
    