<div [@routerTransition]>
   
        <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="loader === true" class="col-12" style="text-align: center;">
                        <img src="../../assets/img-loader.gif">
                    </div>
                    <div *ngSwitchCase="loader === false" class="col-12" style="text-align: center;">
                        
   
                            <div class="col-12">
                                <div *ngFor="let item of progress">
                                   <div>
                                      {{item.categoryName}} {{item.percentageAverageScore}} %
                                   </div>
                                        <div class="progress pb-3">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0.0"
                                                aria-valuemin="0" aria-valuemax="100" style="width:item.percentageAverageScore%">
                                                 
                                            </div>
                                        </div>
                                        
                                </div>
                                
                                </div>
                    
                    </div>
            </ng-container>
    
           
      
</div>
