<div [@routerTransition]>
   
        <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="loader === true" class="col-12" style="text-align: center;">
                        <img src="../../assets/img-loader.gif">
                    </div>
                    <div *ngSwitchCase="loader === false" style="text-align: center;">
                       <span class="alert alert-danger">
                        <b>Performance Rating</b>
           
                       </span>          </div>
                    <br/>
                    <br/>
                    <div *ngSwitchCase="loader === false" class="col-12 row mx-auto"  style="text-align: center;">
                        
   
   
<select class="form-control " [(ngModel)]="progressParams.category" style="width: 130px" id="gender" name="category">
  <option *ngFor="let category of categoryList"[value]='category.categoryId'>
{{category.categoryName}}
  </option>
</select>
&nbsp; &nbsp;
<button (click)="submitCategory()" class="btn btn-outline-success"> Submit</button>
      

                                
                                </div>

                                <div *ngIf="isShowChart==true">
                                  <div class="card-header">
                                    Bar Chart
                                </div>
                                <div class="card-body">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                    </canvas>
                                </div>
                                </div>
                    
                    
            </ng-container>
    
           
      
</div>
