<div class="container-fluid">
    <div [@routerTransition] class="pt-0">
        <h2 style="text-align:center;" class="text-muted">Category Page<small></small></h2>
        <div class="row">
            <div class="col-md-12">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                        <div class="carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <hr>
        &nbsp;  &nbsp;
        &nbsp;  &nbsp;  &nbsp;
        <div class="row">
               
          
                <div *ngFor="let item of categories" class="card mb-3  ml-4 col-10 col-md-5 col-sm-5" style="width: 18rem;">
               
                    <img src="../../../assets/biology.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.categoryName}}</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         <button [routerLink]="['/question/question/2']" [routerLinkActive]="['router-link-active']"  [routerLink]="['/login']" class="btn btn-outline-success my-2 my-sm-0" type="submit">Begin</button>
          
                 
                    </div>
                  </div>
      
                 
        </div>
        
        
        </div>
      
       
        
         
         
          
      
      
      
</div>